<article class="">
  <header>
    <h1>Nixflix has <%= pluralize(@users.size, "user") %></h1>
  </header>
  <ul>
    <% @users.each do |user| %>
      <li><%= link_to user.name, user %></li>
      <li><%= user.username %></li>
      <li><%= user.email %></li>

    <% end %>
  </ul>
</article>
